---
import Layout from "../Layouts/Layout.astro";
import "animate.css";
import AddContacto from "../Components/AddContacto.astro";
---

<Layout title="Contacto">
  <h1 class="seccion">Contacto</h1>
  <div class="grid grid-cols-1 grid-row-5 md:grid-cols-2 md:grid-row-4 lg:grid-cols-4 lg:grid-row-2 lg:max-w-screen-lg md:max-w-screen-md sm:max-w-screen-sm  max-w-[350px] gap-6 mx-auto my-6">

    <div class="col-start-1 col-end-2 row-start-1 row-end-2
    md:col-start-1 md:col-end-3 md:row-start-1 md:row-end-2
    lg:col-start-1 lg:col-end-3 lg:row-start-1 lg:row-end-2 capitalize"  data-aos="fade-right">      <AddContacto
        imagen="map"
        titulo="Dirección"
        texto="Durazno No. 87, Casco de San Juan, México, C.P. 56600"
      />
    </div>

    <div class="col-start-1 col-end-2 row-start-2 row-end-3 md:col-start-1 md:col-end-2 md:row-start-2 md:row-end-3 lg:col-start-3 lg:col-end-4 lg:row-start-1 lg:row-end-2" data-aos="fade-right"  data-aos-delay="200">
      <AddContacto
        imagen="mail"
        titulo="Correos"
        texto="contacto@abiplastic.com.mx"
      />
    </div>

    <div class="col-start-1 col-end-2 row-start-3 row-end-4 md:col-start-2 md:col-end-3 md:row-start-2 md:row-end-3 lg:col-start-4 lg:col-end-5 lg:row-start-1 lg:row-end-2" data-aos="fade-right"  data-aos-delay="300">
      <AddContacto
        imagen="call"
        titulo="Telefonos"
        texto="55 4295 1484, 55 6963 2556"
      />
    </div>


    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3766.306825187264!2d-98.8884943710718!3d19.269018809245544!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ce1ed9d862bb29%3A0xed1bcafb821fa791!2sPrivada%20Duraznos%2087%2C%20Casco%20de%20San%20Juan%2C%2056600%20Chalco%20de%20D%C3%ADaz%20Covarrubias%2C%20M%C3%A9x.!5e0!3m2!1ses-419!2smx!4v1681179385866!5m2!1ses-419!2smx" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
    class="col-start-1 col-end-2 row-start-4 row-end-5 
      md:col-start-1 md:col-end-3 md:row-start-3 md:row-end-4 lg:col-start-1 lg:col-end-3 lg:row-start-2 lg:row-end-3 w-full sombra" data-aos="fade-up" data-aos-delay="300"></iframe>


    <div class="col-start-1 col-end-2 row-start-5 row-end-6 
    md:col-start-1 md:col-end-3 md:row-start-4 md:row-end-5  lg:col-start-3 lg:col-end-5 lg:row-start-2 lg:row-end-3 w-full sombra" data-aos="zoom-in" data-aos-delay="300">
      <form id="form_contacto" method="post" action="enviar.php" class="m-6">
        <div class="input-field">
          <i class="material-symbols-outlined prefix text-blue-400">mail</i>
          <input
            type="email"
            name="email"
            class="form-control"
            placeholder="Correo"
            id="floatingInput"
            required
          />
          <label for="floatingInput"></label>
        </div>
        <div class="input-field col s6">
          <i class="material-symbols-outlined prefix text-blue-400">person</i>
          <input
            type="text"
            name="nombre"
            class="form-control"
            placeholder="Enter nombre"
            id="floatingInput"
            required
          />
          <label for="floatingInput"></label>
        </div>
        <div class="input-field col s6">
          <i class="material-symbols-outlined prefix text-blue-400"
            >location_on</i
          >
          <input
            type="text"
            name="direccion"
            class="form-control"
            placeholder="Enter direccion"
            id="floatingInput"
          />
          <label for="floatingInput"> </label>
        </div>
        <div class="input-field col s6">
          <i class="material-symbols-outlined prefix text-blue-400">phone</i>
          <input
            type="tel"
            name="tel"
            class=""
            placeholder="Enter telefono"
            id="floatingInput"
          />
          <label for="floatingInput"></label>
        </div>
        <div class="input-field flex flex-col">
          <i class="material-symbols-outlined prefix text-blue-400">comment</i>
          <textarea
            name="comentarios"
            rows="3"
            placeholder="Escriba su inquietud."
            class="materialize-textarea"></textarea>
          <label for="floatingInput"></label>
        </div>
        <button type="submit" class="boton">
          Enviar
        </button>
      </form>
    </div>
  </div>
</Layout>

<style>
  .animate__animated.animate__fadeIn {
    --animate-duration: 2s;
    --animate-delay: 0.9s;
  }
</style>
