---
import Layout from "../Layouts/Layout.astro";
import Footer from "../Components/Footer.astro";
import Card from "../Components/Card.astro";
import Card1 from "../Components/Card1.astro";
---

<Layout title="Inicio">
  <main class="position-relative">
    <div class="ocultar-footer absolute top-0 left-0 w-full h-screen bg-white">
    </div>
    <img src="/tela.jpg" alt="" />
    <div class="presentacion">
      <h1 data-aos="fade-down-right" data-aos-duration="2000">Abiplastic</h1>
      <h2 data-aos="fade-up-right" data-aos-duration="2000">
        Somos una empresa que apuesta por hacer que todos nuestros clientes
        siempre nos consideren su mejor y única opción, para el envasado de sus
        productos.
      </h2>
      <div
        class="flex justify-center"
        data-aos="flip-left"
        data-aos-duration="1500"
        data-aos-delay="1500"
      >
        <a href="/Contacto" class="bigboton">Conocenos</a>
      </div>
    </div>
    <video
      muted
      autoplay
      loop
      src="https://abiplastic.com.mx/portada.mp4"
      class="video w-full lg:w-1/3 lg:right-0"></video>
    <a href="#contenido" class="flex justify-center">
      <svg
        class="arrow_down m-auto fill-current text-white animate-bounce border opacity-80"
        xmlns="http://www.w3.org/2000/svg"
        height="48"
        viewBox="0 96 960 960"
        width="48"
        ><path d="M480 712 240 472l43-43 197 197 197-197 43 43-240 240Z"
        ></path></svg
      >
    </a>

    <div class="contenido w-full" id="contenido">
      <div class="enlaces flex m-auto justify-center gap-10 flex-wrap my-6">
        <div data-aos="zoom-in" data-aos-delay="300">
          <Card
            titulo="Productos"
            texto="Tenemos el producto adecuado, que cubrira con tus espectativas para que tus productos esten bien envasados."
            enlace="/Productos"
          />
        </div>

        <div data-aos="zoom-in" data-aos-delay="500">
          <Card
            imagen="local_shipping"
            titulo="Servicios"
            texto="Necesitas imprimir o bien realizar el diseño para tu impresión, el flete de tu producto a toda la republica."
            enlace="/Servicios"
          />
        </div>

        <div data-aos="zoom-in" data-aos-delay="700">
          <Card
            imagen="connect_without_contact"
            titulo="Conocenos"
            texto="Somos una empresa que desde sus inicios ha creado lazos firmes con todos nuestros clientes."
            enlace="/Contacto"
          />
        </div>
      </div>
      <div class="flex justify-center gap-6 flex-wrap mb-10">
        <div data-aos="zoom-in-right" data-aos-delay="200">
          <Card1
            imagen="/rubro01.jpg"
            titulo="Agricultura."
            texto="Los sacos a granel son beneficiosos cuando se trata de almacenar y transportar materiales agrícolas. Los agricultores pueden usarlos para realizar muchas de sus tareas y actividades diarias a un ritmo más eficiente; y su tamaño, forma, configuración, versatilidad y durabilidad son beneficiosos para la industria."
            texto_boton="Saber mas..."
            enlace="/Contacto"
          />
        </div>
        <div data-aos="zoom-in" data-aos-delay="400">
          <Card1
            imagen="/rubro02.jpg"
            titulo="Industria Quimica."
            texto="Fabricados en rafia de polipropileno, se pueden también laminar con polietileno pegado y soldado de primera calidad el cual lo convierte en un producto no transpirable y excelente para materiales que necesitan una solución segura en su envasado y transporte."
            texto_boton="Saber mas..."
            enlace="/Contacto"
          />
        </div>
        <div data-aos="zoom-in-right" data-aos-delay="400">
          <Card1
            imagen="/rubro03.jpg"
            titulo="Fertilizantes."
            texto="Son sacos rígidos, ligeros y resistentes, así como reutilizables debido a la gran durabilidad (alta tasa de reutilización) y resistencia del tejido, disminuyendo el consumo. VENTAJAS: Estos sacos son flexibles y facilitan el envasado, almacenamiento, transporte y conservación de los productos en óptimas condiciones."
            texto_boton="Saber mas..."
            enlace="/Contacto"
          />
        </div>
        <div data-aos="zoom-in" data-aos-delay="200">
          <Card1
            imagen="/serv01.jpg"
            titulo="Arena y escombros."
            texto="Las bolsas de tela se utilizan principalmente para la protección contra inundaciones y la protección de presas. Por ejemplo: construir barreras de arena, elevar las presas existentes, asegurar la base de las presas o proteger los edificios. En estos casos, nuestros sacos de arena para la protección contra inundaciones son perfectamente adecuados."
            texto_boton="Saber mas..."
            enlace="/Contacto"
          />
        </div>
      </div>
      <Footer />
    </div>
  </main>
</Layout>

<style>
  h1 {
    font-size: 3rem;
    line-height: 1rem;
    font-weight: 600;
    color: var(--primary-color);
    font-family: "Zen Dots", cursive;
  }

  h2 {
    color: var(--secundary-color);
    line-height: 1.2em;
    margin: 40px 0;
  }

  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .presentacion {
    position: absolute;
    left: 0;
    top: 20%;
    margin: 0 100px;
    width: 55%;
    height: 100%;
    object-fit: cover;
    text-shadow: 2px 2px 3px rgba(81, 67, 21, 0.8),
      4px 4px 10px rgba(81, 67, 21, 0.8);
  }

  .video {
    position: absolute;
    top: 0;
    height: 100%;
    object-fit: cover;
  }

  .arrow_down {
    position: absolute;
    z-index: 1;
    bottom: 0px;
    background: var(--secundary-color);
  }

  .contenido {
    position: absolute;
    top: 100%;
  }
</style>
