---
import Layout from "../Layouts/Layout.astro";
---

<Layout title="Nosotros">
  <div class="container px-6">
    <h1 class="text-5xl text-center text-blue-600 mt-3">Nosotros</h1>
    <p class="font-extralight text-xl">
      Somos una empresa mexicana joven que se dedica a la distribución de sacos
      de polipropileno en la cual uno de nuestros objetivos es ayudar al medio
      ambiente. <br> ¿cómo lo lograremos? <br> Fomentando el uso y reúso de los costales ya
      que están hechos de polipropileno 100% virgen lo que nos ayuda a reducir
      el impacto causado al medio ambiente ya que se considera un plástico
      ecológico. <br> Otro de nuestros objetivos fundamentales es satisfacer las
      necesidades de nuestros clientes al buscar productos confiables que cubran
      sus expectativas. <br> Los costales de polipropileno están hechos con el más
      alto nivel de calidad. <br> Nuestro compromiso es actuar con honestidad y respeto para lograr satisfacer las necesidades de nuestros clientes.
    </p>
  </div>
</Layout>
