---
import Layout from "../Layouts/Layout.astro";
import Card from "../Components/Card2.astro";
---

<Layout title="Productos">
  <h1>Productos</h1>

  <div class="grupo flex flex-wrap gap-5 justify-center">
  <Card
    producto='Costal Nuevo'
    imagen="https://materializecss.com/images/sample-1.jpg"
    texto="Manejamos todas las medidas"
    link="http://www.mecnet.com.mx"
  />

  <Card
  producto='Costal Usado'
  imagen="https://imgs.search.brave.com/sLTKS9VDvlSneSpi5gDplvQwkwMd2iZuEl-ccWwTXbY/rs:fit:720:225:1/g:ce/aHR0cHM6Ly90c2Ux/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5Q/Tkdqb2d6Ti1WOGZw/dUNMR1JrZEF3SGFF/NCZwaWQ9QXBp"
  texto="Manejamos todas las medidas"
  link="http://www.mecnet.com.mx"
/>
<Card
producto='Arpilla'
imagen="https://imgs.search.brave.com/NZjtmKrMAtue2JfVZsKu6VyaLnduK_e4BFTztue3kB0/rs:fit:805:225:1/g:ce/aHR0cHM6Ly90c2Uz/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC53/elE1MEFTUVBRQkto/WlR2TzQ0SDZ3SGFF/WCZwaWQ9QXBp"
texto="Manejamos todas las medidas"
/>
<Card
producto='Contenedor'
imagen="https://materializecss.com/images/sample-1.jpg"
texto="Manejamos todas las medidas"
/>
</div>
</Layout>
