---
import Layout from "../Layouts/Layout.astro";
import CardN from "../Components/CardBlanco.astro";
import CardE from "../Components/CardEcologico.astro";
import CardC from "../Components/CardContenedor.astro";
import CardVideoT from "../Components/Card2Video.astro";
---

<Layout title="Productos">
  <h1 class="seccion">Productos</h1>

  <div class="grupo flex flex-wrap gap-5 justify-center my-6">
    <div data-aos="zoom-in" data-aos-delay="200">
      <CardN
        producto="Costal Blanco"
        texto="Con/sin impresión hasta 4 tintas"
        medidas={["60x100", "57x100", "54x100", "50x90", "50x80", "36x48"]}
      />
    </div>

    <div data-aos="zoom-in" data-aos-delay="300">
      <CardVideoT
        producto="Costal Trasparente"
        video="/costal_transparente.mp4"
        texto="De primera y Segunda"
        medidas={["60x100", "57x100", "54x100", "50x90"]}
      />
    </div>
    <div data-aos="zoom-in" data-aos-delay="400">
      <CardE
        producto="Ecologico"
        texto="Manejamos todas las medidas"
        medidas={["54x100", "50x90", "50x80"]}
      />
    </div>

    <div data-aos="zoom-in" data-aos-delay="500">
      <CardC
        producto="Super Saco Nuevo"
        imagenes={["/saconuevo.jpg"]}
        texto="Manejamos todas las medidas"
        medidas={["60x60x120", "90x90x180", "Super Saco Laminado"]}
      />
    </div>
  </div>
</Layout>
