---
import Layout from "../Layouts/Layout.astro";
import Card from "../Components/Card2.astro";
---

<Layout title="Productos">
  <h1 class="seccion">Productos</h1>

  <div class="grupo flex flex-wrap gap-5 justify-center my-6">
    <div data-aos="zoom-in" data-aos-delay="200">
      <Card
        producto="Costal Blanco"
        imagen={["/saconuevo.jpg"]}
        texto="Con/sin impresión hasta 4 tintas"
        medidas={["60x100", "57x100", "54x100", "50x90", "50x80", "36x48"]}
      />
    </div>

    <div data-aos="zoom-in" data-aos-delay="300">
      <Card
        producto="Costal Trasparente"
        imagen="/sacousado.jpg"
        texto="De primera y Segunda"
        medidas={["60x100", "57x100", "54x100", "50x90"]}
      />
    </div>
    <div data-aos="zoom-in" data-aos-delay="400">
      <Card
        producto="Ecologico"
        imagen="/arpilla.jpg"
        texto="Manejamos todas las medidas"
        medidas={["54x100", "50x90", "50x80"]}
      />
    </div>

    <div data-aos="zoom-in" data-aos-delay="500">
      <Card
        producto="Super Saco Nuevo"
        imagen="/contendor.webp"
        texto="Manejamos todas las medidas"
        medidas={["60x60x120", "90x90x180", "Super Saco Laminado"]}
      />
    </div>
  </div>
</Layout>
