---
import Layout from "../Layouts/Layout.astro";
import Card from "../Components/Card2.astro";
---

<Layout title="Productos">
  <h1 class="titulo">Productos</h1>

  <div class="grupo flex flex-wrap gap-5 justify-center">
  <Card
    producto='Saco Nuevo'
    imagen="/saconuevo.jpg"
    texto="Manejamos todas las medidas"
    link="http://www.mecnet.com.mx"
  />

  <Card
  producto='Saco Usado'
  imagen="/sacousado.jpg"
  texto="Manejamos todas las medidas"
  link="http://www.mecnet.com.mx"
/>
<Card
producto='Arpilla'
imagen="/arpilla.jpg"
texto="Manejamos todas las medidas"
/>
<Card
producto='Contenedor'
imagen="/contendor.webp"
texto="Manejamos todas las medidas"
/>
</div>
</Layout>
