---
import Producto from '../Components/Card4.astro';
---

<div class="flex flex-wrap gap-3 justify-center">
    <Producto imagen="/dd.jpg" producto="Disco Duro 160Gb SATA" modelo="Seagate, Wenst Digital" texto="Disco mecanico usado de varias marcas con 1 mes de garantia."/>
</div>

