---
import Producto from '../Components/AddContacto.astro';
---

<div class="flex flex-wrap gap-3 justify-center bg-[#ebebed] w-100% h-screen items-center">
    <Producto imagen="map" titulo="Direccion" texto="av prol. emiliano zapata mz 22 lt 11"/>
    <Producto imagen="mail" titulo="Correos" texto="contacto@abiplastic.com.mx"/>
    <Producto imagen="call" titulo="Telefonos" texto="56 2077 5115, 55 6963 2556, 55 4295 1484"/>


</div>

