---
import Layout from "../Layouts/Layout.astro";
import Slider from "../Components/Slider.astro";
import Slider1 from "../Components/Slider1.astro";

---

<Layout title="Servicios">
  <h1 class="titulo">Servicios</h1>
  <div class="grupo my-10 flex justify-center">
    <Slider/>
    <Slider1/>
  </div>
</Layout>
