---
import Layout from "../Layouts/Layout.astro";
import Card from "../Components/Cards";
---

<Layout title="Servicios">
  <h1 class="titulo">Servicios</h1>
  <div class="grupo w-auto">
    <Card client:only="react" />
    <Card client:only="react" />
    <Card client:only="react" />
    <Card client:only="react" />
    <Card client:only="react" />
  </div>
</Layout>
