---
import Layout from "../Layouts/Layout.astro";
import Slider from "../Components/Slider.astro";
---

<Layout title="Servicios">
  <h1 class="titulo">Servicios</h1>
  <div class="grupo my-10">
    <Slider/>
  </div>
</Layout>
