---
const {
    imagen = "home",
    titulo = "titulo",
    texto = "texto",
} = Astro.props;
---

<div class="addContacto">
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
  />
  <div class="icono">
    <span class="material-symbols-outlined">{imagen}</span>
    <div class="circle"></div>
  </div>

  <div class="contenido">
    <h3>{titulo}</h3>
    <p>{texto}</p>
  </div>
</div>

<style>
  .addContacto {
    width: auto;
    padding: 1.5em;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }

  .icono {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-items:center;
    align-items: center;
  }

  .icono span {
    font-size: 35px;
    grid-column: 1/2;
    grid-row: 1/2;
    color: #feb900;
  }

  .icono .circle {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: 2px dotted #feb900;
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .contenido{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #0a0a0a;
    margin-top: 10px;
  }

  h3{
    font-size: 1.5em;
    font-weight:700;
    text-transform: capitalize;
  }

  p{
    font-size: 1em;
    font-weight: 400;
    margin: 10px 0;
  }
</style>
