<div class="sliderfotos sombra1">
    <input type="radio" id="1" name="imagen-slider" hidden>
    <input type="radio" id="2" name="imagen-slider" hidden>
    <input type="radio" id="3" name="imagen-slider" hidden>

    <div class="slide">
        <div class="item-slide">
            <img src="/serv01.jpg" alt="">
        </div>
        <div class="item-slide">
            <img src="/serv02.jpg" alt="">
        </div>

        <div class="item-slide">
            <img src="/serv03.jpg" alt="">
        </div>
    </div>

    <div class="pagination">
        <label for="1" class="pagination-item">
            <img src="/serv01.jpg" alt="">
        </label>
        <label for="2" class="pagination-item">
            <img src="/serv02.jpg" alt="">
        </label>
        <label for="3" class="pagination-item">
            <img src="/serv03.jpg" alt="">
        </label>
    </div>
</div>

<style>
    .sliderfotos{
        position: relative;
        width: 350px;
        overflow: hidden;
    }

    img{
        max-width: 350px;
    }

    .container-all{
        position: relative;
        width: 100%;
        overflow: hidden;
    }

    .slide{
        display: flex;
        transform: translate3d(0,0,0);
        transition: 500ms;
        animation-name: autoplay;
        animation-duration: 6.5s;
        animation-direction: alternate;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
    }

    .item-slide{
        position: relative;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        flex-grow: 0;
        max-width: 100%;
    }

    .pagination{
        position: absolute;
        bottom: 20px;
        left: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .pagination-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid white;
        width: 16px;
        height: 16px;
        overflow: hidden;
        cursor: pointer;
        background: rgba(255,255,255,0.5);
        margin: 0 10px;
        text-align: center;
        transition: 300ms;
    }

    .pagination-item:hover{
        transform: scale(2);
    }

    .pagination-item img{
        display: inline-block;
        max-width: none;
        height: 100%;
        transform: scale(1);
        opacity: 0;
        transition: 300ms;
    }

    .pagination-item:hover img{
        opacity: 1;
        transform: scale(1);
    }

    input[id="1"]:checked ~ .slide{
        animation: none;
        transform: translate3d(0,0,0);
    }

    input[id="1"]:checked ~ .pagination .pagination-item[for="1"]{
        background: #fff;
    }


    input[id="2"]:checked ~ .slide{
        animation: none;
        transform: translate3d(calc(-100% * 1),0,0);
    }

    input[id="2"]:checked ~ .pagination .pagination-item[for="2"]{
        background: #fff;
    }
    input[id="3"]:checked ~ .slide{
        animation: none;
        transform: translate3d(calc(-100% * 2),0,0);
    }

    input[id="3"]:checked ~ .pagination .pagination-item[for="3"]{
        background: #fff;
    }

    @keyframes autoplay{
        33%{
            transform: translate3d(calc(-100% * 0), 0 , 0);
        }
        66%{
            transform: translate3d(calc(-100% * 1), 0 , 0);
        }
        100%{
            transform: translate3d(calc(-100% * 2), 0 , 0);
        }
    }
</style>