---
const { titulo = "Titulo", imagen, texto = "texto", link = "#" } = Astro.props;
---

<div class="card">
  <div class="card-image">
    <img src={imagen} />
    <span class="card-title">{titulo}</span>
  </div>
  <div class="card-content">
    <p>{texto}</p>
    <table class="striped centered responsive-table">
      <thead >
        <tr>
            <th>Name</th>
            <th>Item Name</th>
            <th>Item Price</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Alvin</td>
          <td>Eclair</td>
          <td>$0.87</td>
        </tr>
        <tr>
          <td>Alan</td>
          <td>Jellybean</td>
          <td>$3.76</td>
        </tr>
        <tr>
          <td>Jonathan</td>
          <td>Lollipop</td>
          <td>$7.00</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-action">
    <a href={link}>This is a link</a>
  </div>
</div>

<style>
  .card {
    width: 300px;
  }
</style>
