---
const {imagen, texto = "texto", producto = 'Costal'} = Astro.props;
---

<div class="card">
  <div class="card-image relative">
    <img src={imagen} />
    <div class="absolute top-2 left-2 opacity-30">
      <img src="/logo.svg" alt="">  
    </div>
  </div>
  <div class="card-content">
    <p class="text-center">{texto}</p>
    <table class="striped centered">
      <thead class="text-xl">
        <tr>
            <th>{producto}</th>
        </tr>
      </thead>

      <tbody class="tracking-widest">
        <tr>
          <td>30x50</td> 
        </tr>
        <tr>
          <td>70x80</td>  
        </tr>
        <tr>
          <td>70x90</td>   
        </tr>
      </tbody>
    </table>
  </div>
</div>

<style>
  .card {
    width: 300px;
  }
</style>
