<body>
    <div class="container1">
        <div class="box">
            <b></b>
            <img src="dd.jpg" alt="">
            <div class="content">
                <h2>Efectos chidos<br><span>Diseno Creativo</span></h2>
            </div>
        </div>
        <div class="box">
            <b></b>
            <img src="dd1.jpg" alt="">
        </div>
        <div class="box">
            <b></b>
            <img src="dd.jpg" alt="">
        </div>
    </div>
</body>

<style>
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: #071111;
    }

    .container1{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 50px;
    }
    .container1 .box{
        position: relative;
        width: 320px;
        height: 400px;
        background: #f00;
        margin: 20px 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container1 .box::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(315deg, #4dff03, #00d0ff);
    }

    .container1 .box::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(315deg, #4dff03, #00d0ff);
        filter: blur(30px);  
    }

    .container1 .box:nth-child(1):before, .container1 .box:nth-child(1):after{
        background: linear-gradient(45deg, #ffbc00, #ff0058);
    }
    .container1 .box:nth-child(2):before, .container1 .box:nth-child(2):after{
        background: linear-gradient(315deg, #03a9f4, #ff0058);
    }

    .container1 .box b{
        position: absolute;
        inset: 6px;
        background: rgba(0,0,0,0.6);
        z-index: 2;
    }

    .container1 .box img{
        position: absolute;
        z-index: 3;
        scale: 0.8;
        opacity: 0.25;
        transition: 500ms;
    }

    .container1 .box:hover img{
        scale: 0.6;
        opacity: 0.9;
        transform: translateY(-70px);
    }

    .container1 .box .content{
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: 500ms;
        transform: scale(0);
        z-index: 3;
    }

    .container1 .box:hover .content{
        transform: scale(1);
        bottom: 75px;
    }
    .container1 .box h2{
        position: absolute;
        color: #fff;
        font-weight: 500;
        line-height: 1em;
        font-size: 1.1em;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        text-align: center;
    }
    .container1 .box h2 span{
        font-weight: 300;
        font-size: 0.75em;
    }
</style>