---
const {imagen=[1, 2, 3, 4], texto = "texto", producto = 'Costal', medidas = [1,2,3,4,5]} = Astro.props;
---

<div class="w-[300px] sombra1">
  <div class="card-image relative">
    <img src={imagen} />
    <div class="absolute top-2 left-2 opacity-30">
      <img src="/logo.svg" alt="">  
    </div>
  </div>
  <div class="card-content">
    <table class="striped centered">
      <thead class="text-xl">
        <tr>
            <th>{producto}</th>
        </tr>
        <tr>
          <td  class="text-center">{texto}</td>
        </tr>
      </thead>

      <tbody class="tracking-widest">
        {medidas.map((medida) => <tr><td>{medida}</td></tr>)}        
      </tbody>
    </table>
  </div>
</div>

<style>
 thead tr td{
  color: var(--secundary-color);
 }
</style>
