---
---

<div class="navbar-fixed">
  <nav class="navbar">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo mt-1 ml-4"
        ><img src="/logo.svg" width="70px" /></a
      >
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"
        ><i class="material-icons">menu</i></a
      >
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/Nosotros">Nosotros</a></li>
        <li><a href="/Productos">Productos</a></li>
        <li><a href="/Servicios">Servicios</a></li>
        <li><a href="/Contacto">Contacto</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav rounded" id="mobile-demo">
    <li><a href="/Nosotros">Nosotros</a></li>
    <li><a href="/Productos">Productos</a></li>
    <li><a href="/Servicios">Servicios</a></li>
    <li><a href="/Contacto">Contacto</a></li>
  </ul>
</div>

<style>
  a{
    text-shadow: 2px 2px 4px #000000;
  }
  .sidenav{
    transition: 500ms linear;
    width: 150px;
    height: 300px;
    top: 50px;
  }
  .mostrar {
    transform: translateX(0);
  }

  .navbar {
    background: transparent;
    transition: 500ms ease-in-out;
  }
</style>

<script>
  // Encuentra todos los botones con la clase `alert` en la página.

  const button = document.querySelector(".sidenav-trigger");

  // Maneja los clics en cada botón.
  button.addEventListener("click", () => {
    var element = document.getElementById("mobile-demo");
    element.classList.toggle("mostrar");
  });

  var scrollPos = 30;
  window.addEventListener("scroll", function () {
    var menu = document.querySelector(".navbar");

    if (window.pageYOffset > scrollPos) {
      menu.classList.add("blue");
    } else {
      menu.classList.remove("blue");
    }
    scrollPos = window.pageYOffset;
  });
</script>
