---
import CardVideo from '../Components/CardSliderVideo.astro';
import CardFoto from '../Components/CardSliderFoto.astro';
---

<main class="slider">
  <div class="slider__container container">

    <div class="flecha flex items-center">
      <i class="fa-solid fa-arrow-left fa-2xl"></i>
    </div>

    
    <div class="slider__body slider__body__show shadow border-2" data-id="1">
      <CardVideo titulo="Titulo 01" video="portada.mkv" texto="Lorem, ipsum dolor sit amet Lorem, ipsum dolor sit amet Lorem, ipsum dolor sit amet"/>
    </div>

    <div class="slider__body shadow border-2" data-id="2">
      <CardVideo  titulo="Titulo 02" video="/relleno.mp4" texto="Hola como estan todos"/>
    </div>

    <div class="slider__body shadow border-2" data-id="3">
      <CardFoto  titulo="Titulo 03" imagen="/serv05.jpg" texto="Una foto para variar este proyecto espero les guste"/>
    </div>

    <div class="slider__body shadow border-2" data-id="4">
      <CardVideo  titulo="Titulo 04" video= "/01.mp4" texto="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda rem esse nostrum ex, eos similique est quae totam vel qui. " />
    </div>

    <div class="flecha flex items-center">
      <i class="fa-solid fa-arrow-right fa-2xl"></i>
    </div>
  </div>
</main>

<style>
  .container {
    width: 350px;
    overflow: hidden;
  }

  .slider {
    margin: 0 auto;
    height: auto;
  }

  .slider__container {
    background-color: #f2f2f2;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    /* align-items: center; */
    /* gap: 0 1rem; */
  }

  .slider__body {
    grid-row: 1/2;
    grid-column: 2/3;
    opacity: 0;
    pointer-events: none;
    display: grid;
    background-color: #f2f2f2;
    grid-template-rows: max-content 1fr;
    margin: 1rem 0;
    transition: 1.5s;
  }

  .slider__body__show {
    opacity: 1;
    pointer-events: unset;
  }
  .slider__img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: 0 auto;
  }

  .fa-solid {
    cursor: pointer;
    width: 90%;
    text-align: center;
  }
</style>

<script>
  const sliders = [...document.querySelectorAll(".slider__body")];
  const arrowLeft = document.querySelector(".fa-arrow-left");
  const arrowRight = document.querySelector(".fa-arrow-right");
  let value;

  arrowRight.addEventListener("click", () => changePosition(1));
  arrowLeft.addEventListener("click", () => changePosition(-1));

  function changePosition(change) {
    const currentElement = Number(
      document.querySelector(".slider__body__show").dataset.id
    );
    value = currentElement;
    value += change;

    if (value === 0 || value == sliders.length + 1) {
      value = value === 0 ? sliders.length : 1;
    }
    sliders[currentElement - 1].classList.toggle("slider__body__show");
    sliders[value - 1].classList.toggle("slider__body__show");
  }
</script>
