---
import CardVideo from '../Components/CardSliderVideo.astro';
import CardFoto from '../Components/CardSliderFoto.astro';

---

<main class="slider">
  <div class="slider__container container">

    <div class="flecha flex items-center">
      <i class="fa-solid fa-arrow-left flecha-left fa-2xl"></i>
    </div>

    <div class="slider__body slider__body__show shadow border-2" data-id="1">
      <CardFoto titulo="Flete" imagen="/serv01.jpg" texto="Tenemos la capacidad de transportar el producto a cualquier parte de la republica."/>
    </div>

    <div class="slider__body shadow border-2" data-id="2">
      <CardFoto  titulo="Flete" imagen="/serv02.jpg" texto="Tenemos la capacidad de transportar el producto a cualquier parte de la republica."/>
    </div>

    <div class="slider__body shadow border-2" data-id="3">
      <CardFoto  titulo="Titulo 03" imagen="/serv03.jpg" texto="Una foto para variar este proyecto espero les guste"/>
    </div>

    <div class="slider__body shadow border-2" data-id="4">
      <CardFoto  titulo="Impresión" imagen= "/serv04.jpg" texto="Impresion de 1 hasta 4 tintas si requieres informacion contactanos." />
    </div>

    <div class="slider__body shadow border-2" data-id="5">
      <CardFoto  titulo="Impresión" imagen="/serv05.jpg" texto="Impresion de 1 hasta 4 tintas si requieres informacion contactanos."/>
    </div>
    
    <div class="slider__body shadow border-2" data-id="6">
      <CardFoto  titulo="Impresión" imagen="/serv06.jpg" texto="Impresion de 1 hasta 4 tintas si requieres informacion contactanos."/>
    </div>

    <div class="flecha flex items-center">
      <i class="fa-solid fa-arrow-right flecha-right fa-2xl"></i>
    </div>

  </div>
</main>

<style>
  .container {
    width: 350px;
    overflow: hidden;
  }

  .slider {
    margin: 0 auto;
    height: auto;
  }

  .slider__container {
    background-color: #f2f2f2;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    /* align-items: center; */
    /* gap: 0 1rem; */
  }

  .slider__body {
    grid-row: 1/2;
    grid-column: 2/3;
    opacity: 0;
    pointer-events: none;
    display: grid;
    background-color: #f2f2f2;
    grid-template-rows: max-content 1fr;
    margin: 1rem 0;
    transition: 1.5s;
  }

  .slider__body__show {
    opacity: 1;
    pointer-events: unset;
  }
  .slider__img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: 0 auto;
  }

  .fa-solid {
    cursor: pointer;
    width: 90%;
    text-align: center;
  }
</style>

<script>
  const sliders = [...document.querySelectorAll(".slider__body")];
  const arrowLeft = document.querySelector(".flecha-left");
  const arrowRight = document.querySelector(".flecha-right");
  let value;

  arrowRight.addEventListener("click", () => changePosition(1));
  arrowLeft.addEventListener("click", () => changePosition(-1));

  function changePosition(change) {
    const currentElement = Number(
    document.querySelector(".slider__body__show").dataset.id
    );
    console.log(currentElement);
    value = currentElement;
    value += change;

    if (value === 0 || value == sliders.length + 1) {
      value = value === 0 ? sliders.length : 1;
    }
    sliders[currentElement - 1].classList.toggle("slider__body__show");
    sliders[value - 1].classList.toggle("slider__body__show");
  }
</script>
