---
import Navbar from '../Components/NavBar.astro';
import Footer from '../Components/Footer.astro';
import "@fontsource/roboto/300.css";
import "@fontsource/roboto/400.css";
import "@fontsource/roboto/500.css";
import "@fontsource/roboto/700.css";

export interface Props {
  title: string;
}
const { title } = Astro.props;

---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Abiplastic - {title}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerPolicy="no-referrer" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> 
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  </head>
  <body>
    <Navbar/>
    <slot />
    <Footer/>

    <script  is:inline src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script is:inline>
      AOS.init();
    </script>
  </body>
</html>

<style is:global>

@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

:root{
  --primary-color: #60a5fa;
  --primary-color-1: #3992ff;
  --secundary-color:#feb900;
  --border-secundary-color:rgba(254, 186, 0, 0.16);
  --background-color1: #d6d6d6;
}

  *{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
  }

  html {
  scroll-behavior: smooth;
}
p{
  font-size: 1.25rem;
  font-weight: 200;
  line-height: 1.75rem;
}
h2{
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.75rem;
}

h3{
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.75rem;
}

.seccion{
  font-size: 3rem;
  line-height: 1rem;
  text-align: center;
  padding: 2rem 0;
  color: var(--primary-color);
}

.sombra{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.sombra1{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, var(--secundary-color) 0px 0px 0px 1px;
}

.boton{
    width: max-content;
    padding: 7px 15px;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    background: var(--primary-color);
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .10em;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 500ms;
  }

  .boton:hover{
    background: var(--primary-color-1);
    box-shadow: rgba(0, 0, 0, 0.35) 5px 5px 20px;
  }

  .bigboton{
    width: max-content;
    padding: 7px 15px;
    font-size: 24px;
    font-weight: 400;
    display: flex;
    align-items: center;
    background: var(--secundary-color);
    border: 2px solid var(--secundary-color);
    color: #000;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: .05em;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 500ms;
  }

  .bigboton:hover{
    background: transparent;
    box-shadow: rgba(0, 0, 0, 0.35) 5px 5px 20px;
  }

</style>
